*, *::before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /*background-color: #c68642;*/
  font-family: 'ProximaNova', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  color: #323232;
}

.container {
  /*background-color: grey;*/
  width: 1400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.85);
}

header,
nav,
div>.row-petite_image,
div>.blocGrangeImage,
.defile,
.videoTshirt,
.articles,
.newsletter,
.row,
footer>.haut,
footer>.haut>.droite,
footer>.bas {
  display: flex;
}

a {
  text-decoration: none;
  color: #323232;
}

a:hover {
  color: #0072c9;
}

span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

/*****Nav-bar******/
header {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo {
  position: relative;
  left: 4px;
}

header nav {
  display: flex;
  align-items: center;
  right: 13em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline;
}

nav .menu {
  margin-right: 35px;
  font-size: 1.75em;
}

nav .menu li {
  padding: 30px;
}

nav .network li {
  padding-left: 8px;
}

.network {
  margin-top: 10px;
}

/*****Section gallery image******/
.containerBloc {
  min-height: 1300px;
}

/*La grande image*/
.blocGrangeImage {
  background-image: url('images/style-post-fresh-inspiration-for-springtime-5783277f.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 730px;
  position: relative;
  align-items: flex-end;
}

.blocText {
  position: absolute;
  /*pour ajuster le texte*/
  left: 70px;
  bottom: 65px;
  width: 500px;
}

.blocText h1 {
  font-size: 70px;
  line-height: 75px;
  margin-top: 10px
}

/*Les 3 petites images*/
.row-petite_image {
  justify-content: center;
}

.bloc {
  position: relative;
  /*pour ajuster le texte*/
  width: 500px;
  height: 450px;
}

.Img1 {
  background-image: url('images/style-post-bella-york-presents-her-new-collection-teaser-bg-square-f37c6806.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.Img2 {
  background-image: url('images/music-post-simon-scott-the-new-album-is-out-now-teaser-bg-square-2deeb0ed.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.Img3 {
  background-image: url('images/style-post-oni-jericho-the-new-collection-teaser-bg-square-ccf747da.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.blocTextImg {
  position: absolute;
  left: 70px;
  bottom: 50px;
  width: 350px;
}

.blocTextImg h2 {
  margin-top: 10px;
  font-size: 32px;
  line-height: 38px;
}

/*********gallery image 2**********/
.container-articles {
  margin-top: 100px;
}

.row-articles {
  display: flex;
  flex-flow: row wrap;
}

/*La 1ere colonne*/
.colImage {}

.colImage span {
  color: #ef454a;
  font-size: 45px;
}

.collImage h3 {
  font-size: 5em;
  color: #373737;
  margin: 0 0 20px 0;
  line-height: 50px;
}

.colImage img {
  margin-top: 170px;
  margin-bottom: 0;
}

/*les 8 autres colonnes*/
.imgText, .image img {
  width: 466.66px;
  margin-bottom: 15px;
}

.text {
  margin: 20px;
}

.text span {
  color: #a1a1a1;
  font-size: 18px;
}

.text h3 {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px
}

.text h3:hover {
  color: #777777;
}

.text p {
  color: #777777;
  font-size: 20px;
}

/*section defile*/
.defile {
  background-image: url('images/admin-ajax.webp');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
  height: 622.7px;
}

.union {
  background-image: url('images/style-post-union-presents-the-new-collection-sponsored.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 390px;
  width: 530px;
  margin-left : 95px;
}

.texteGrid {
  position: relative;
  left: 200px;
  min-height: 170px;
  width: 430px;
}

.texteGrid h3 {
  font-size: 43px;
  line-height: 50px;
  color: #fff;
}

.link a {
  font-size: 17px;
  text-decoration: underline;
  color: #fff;
  weight: 400px;
}

.textRotate {
  -webkit-transform: rotate(271deg);
  -moz-transform: rotate(271deg);
  -o-transform: rotate(271deg);
  writing-mode: lr-tb;
  position: relative;
  left: 70px;
  color: #fff;
}

.videoTshirt {
  background-color: #ff6800;
  justify-content: space-around;
  align-items: center;
  min-height: 350px;
}

.textVideo {
  min-height: 200px;
}

.articles {
  justify-content: center;
  min-height: 400px;
}

.article {
  background-color: blueviolet;
  width: 600px;
  border: 1px solid;
}

div .newsletter {
  min-height: 80px;
  justify-content: center;
  padding: 50px;
}

footer {
  background-color: #99d5ff padding: 50px;
}

footer .haut, .bas {
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  padding: 20px;
}

footer .gauche, .droite {
  width: 500px;
  height: 200px;
}

.logo {}

.nav {}
