* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

*::before, *::after {}

body {
  /*background-color: #c68642;*/
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  color: #323232;
  background-image: url('images/page-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1400px;
  margin: 0 auto;
  background-color: white;
}

h1, h2 {
  color: rgba(255, 255, 255, 0.85);
}

header,
nav,
div>.row-petite_image,
div>.blocGrangeImage,
.defile,
.videoTshirt,
.articles,
.newsletter,
.row,
footer>.haut,
footer>.haut>.droite {
  display: flex;
}

a {
  text-decoration: none;
  color: #323232;
}

a:hover {
  color: #0072c9;
}

span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

/*****Nav-bar******/
header {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo {
  position: relative;
  left: 1px;
}

header nav {
  display: flex;
  align-items: center;
  right: 13em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline;
}

nav .menu {
  margin-right: 35px;
  font-size: 1.75em;
}

nav .menu li {
  padding: 30px;
}

nav .network li {
  padding-left: 8px;
}

.network {
  margin-top: 10px;
}

/*****Section gallery image******/
.containerBloc {
  min-height: 1300px;
}

/*La grande image*/
.blocGrangeImage {
  background-image: url('images/style-post-fresh-inspiration-for-springtime-5783277f.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 730px;
  position: relative;
}

.blocText {
  position: absolute;
  /*pour ajuster le texte*/
  left: 70px;
  bottom: 65px;
  width: 500px;
}

.blocText h1 {
  font-size: 70px;
  line-height: 75px;
  margin-top: 10px
}

/*Les 3 petites images*/
.bloc {
  position: relative;
  /*pour ajuster le texte*/
  width: 33.33%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}

.Img1 {
  background-image: url('images/style-post-bella-york-presents-her-new-collection-teaser-bg-square-f37c6806.webp');
}

.Img2 {
  background-image: url('images/music-post-simon-scott-the-new-album-is-out-now-teaser-bg-square-2deeb0ed.webp');
}

.Img3 {
  background-image: url('images/style-post-oni-jericho-the-new-collection-teaser-bg-square-ccf747da.webp');
}

.blocTextImg {
  position: absolute;
  left: 70px;
  bottom: 50px;
  width: 370px;
}

.blocTextImg h2 {
  margin-top: 10px;
  font-size: 32px;
  line-height: 38px;
}

/*********Grille image 1**********/
.container-articles {
  margin-top: 100px;
}

.row-articles {
  display: flex;
  flex-flow: row wrap;
}

/*L'unique colonne*/
.colImage {
  background-image: url('images/Capture d’écran 2021-04-22 192233.png');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 33.33%;
}

/*La 1ere colonne*/
.colImage span {
  color: #ef454a;
  font-size: 45px;
}

.colImage h3 {
  font-size: 45px;
  color: #373737;
  margin: 0 0 20px 50px;
  line-height: 50px;
}

.colImage img {
  margin-top: 170px;
  margin-bottom: 0;
}

/*les 8 autres colonnes*/
.imgText, .image img {
  width: 466.66px;
  margin-bottom: 15px;
}

.text {
  margin: 20px;
}

.text span {
  color: #a1a1a1;
  font-size: 18px;
}

.text h3 {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px
}

.text h3:hover {
  color: #777777;
}

.text p {
  color: #777777;
  font-size: 20px;
}

/*section defile*/
.defile {
  background-image: url('images/style-post-union-presents-the-new-collection-sponsored-bg-1125045e.webp');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
  height: 622.7px;
}

.union {
  background-image: url('images/style-post-union-presents-the-new-collection-sponsored.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 390px;
  width: 530px;
}

.texteGrid {
  position: relative;
  left: 170px;
  min-height: 170px;
  width: 430px;
}

.texteGrid h3 {
  font-size: 43px;
  line-height: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.link a {
  font-size: 17px;
  text-decoration: underline;
  color: #fff;
  weight: 400px;
}

.textRotate {
  -webkit-transform: rotate(271deg);
  -moz-transform: rotate(271deg);
  -o-transform: rotate(271deg);
  writing-mode: lr-tb;
  position: relative;
  left: 70px;
  color: #fff;
}

.discover {
  margin: 80px 0px 80px 27px;
}

/****La 2eme grid* ***/
.row-articles {
  display: flex;
  flex-flow: row wrap;
}

.border {
  display: flex;
  flex-flow: row wrap;
  margin: 30px 80px 0 60px;
  border-bottom: 1px solid #cccccc;
}

.border:last-child {
  border: none;
}

/*les 8 autres colonnes*/
.imgText2, .image2 img {
  width: 406.66px;
  height: 241.64;
  margin-bottom: 15px;
}

.text2 {
  margin: 20px;
}

.text2 span {
  color: #a1a1a1;
  font-size: 18px;
}

.text2 h3 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px
}

.text2 h3:hover {
  color: #777777;
}

.text2 p {
  color: #777777;
  font-size: 25px;
}

/****Zone de vidéo***/
.videoTshirt {
  background-color: #e5e5e5;
  justify-content: space-around;
  align-items: center;
  min-height: 550px;
}

.containerVideoTshirt {
  margin-left: 55px;
}

.textVideo {
  min-height: 200px;
}

.videoTshirt .texteGrid h3,
.videoTshirt .texteGrid a,
.videoTshirt .textRotate {
  color: #373737;
}

/****articles et sponsored*****/
.articlesPopularSponsored {
  display: flex;
  justify-content: space-around;
  margin: 100px 55px 100px 55px;
}

.popular, .sponsored {
  justify-content: space-around;
}

.articlesPopularSponsored h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
}

/*Permet de cibler la 2eme ligne de la liste*/
.article:nth-child(3) {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.textArticle {
  width: 400px;
  margin-left: 20px;
}

.textArticle span {
  color: #a1a1a1;
  font-size: 15px;
}

.textArticle p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

/****Newsletter****/
.newsletter {
  min-height: 80px;
  padding: 50px;
  background-color: #0072c9;
  display: flex;
  align-items: center;
}

.newsletter h2 {
  font-size: 25px;
  line-height: 33px;
  margin-left: 65px;
}

form {
  margin-left: 30px;
}

input[type="email"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  width: 740px;
  height: 34px;
}

input::placeholder {
  color: #7eb8e4;
  padding-left: 8px;
  font-size: 17px;
}

.form img {
  width: 30px;
  position: relative;
  right: 50px;
}

/****Footer****/
footer {
  padding-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer .haut {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}

.textFooter p {
  font-size: 27px;
  margin-top: 50px;
}

footer .gauche, .droite {
  width: 500px;
  /*margin-bottom :50px;*/
}

footer h5 {
  font-size: 25px;
  margin-bottom: 70px;
}

footer .droite {
  display: flex;
  justify-content: space-around;
}

.categorie, .explore {
  align-items: flex-start;
}

footer ul li {
  list-style: none;
  padding-bottom: 20px;
}

footer .bas {
  display: flex;
  justify-content: space-around;
}

.footer h6 {
  font-size: 20px;
}

footer li a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  color: #a1a1a1;
}

footer li a:hover {
  color: #d0d0d0;
}
